  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>ASAP Scheduler</h4>
        <p>Scheduling a meeting at the next available time for {{otherEmail}} and {{user_email}}. Check your inbox for a confirmation email.</p>
        <a href="status">View scheduling status.</a>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->