  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>ASAP Scheduler</h4>
        <div>
          {{#each meetings}}
            <a href="/meeting/{{this._id}}">{{this.name}}</a>
          {{/each}}
        </div>
        <p>Authorize with your Google Calendar account to easily schedule meetings with coworkers ASAP</p>
        <div id="authorize-div" style="">
        <!--Button for the user to click to initiate auth sequence -->
        <form onsubmit="createMeeting(event)">
          <input id="create-meeting">
              Enter the name of the meeting
          </input>
          <input type="submit">
        </form>
        <!-- <button id="authorize-button" onclick="handleAuthClick(event)">
            Authorize
        </button> -->


    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">

    function createMeeting(e) {
      e.preventDefault();
      var payload = {
        meetingName: $('#create-meeting').val()
      }
      $.ajax({
        type: "POST",
        url: "meeting/add",
        data: payload
      })
      .success(function(data){
        window.location = '/meeting/'+data.meetingId;
      })
      .fail(function(err){
        console.log(err);
      });
    }


    </script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
