  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>ASAP Scheduler</h4>
        <p>Send this link to your coworker to schedule your appointment!</p>
        <a id="link" href="{{emailURL}}">{{emailURL}}</a>
        <!--<div>
          <label for="email">Email: </label>
          <input type="email" placeholder="example@example.com" name="otherEmail" id="otherEmail" style="width: 80%;">
          <button class="button-primary">Submit</button>
        </div>-->
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      var urlArr = window.location.href.split("/");
      console.log(urlArr);
      document.getElementById("link").href = urlArr[2] + "/" + urlArr[urlArr.length-1];
      document.getElementById("link").innerHTML = urlArr[2] + "/" + urlArr[urlArr.length-1];
    });
  </script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
