  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>ASAP Scheduler</h4>
        <p>The status of your meeting. Both accounts must be linked for ASAP scheduler to schedule a meeting.</p>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Email</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{otherEmail}}</td>
              <td>Linked</td>
            </tr>
            <tr>
              <td>{{user_email}}</td>
              <td>Opened</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->